NODE_ENV="development"

DATABASE_URL="postgresql://money_solver:money_solver@localhost:5000/money_solver?schema=public"

POSTGRES_DB="money_solver"
POSTGRES_USER="money_solver"
POSTGRES_PASSWORD="money_solver"
POSTGRES_PORT=5432
# JWT - Use comandos para gerar segredos reais
# openssl rand -base64 32
JWT_ACCESS_SECRET="seu_access_secret_aqui_com_32+caracteres"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="seu_refresh_secret_aqui_com_32+caracteres"
JWT_REFRESH_EXPIRES_IN="30d"

PORT=3000